src/rbmc

src/*.o
src/*.hi
src/Lexer.hs
src/Preprocess
src/out*

*.aux
*.bbl
*.blg
*.log
*.pdf
src/crust/_build
src/crust/*.byte
src/crust/*.native

bin/rbmc
bin/Preprocess
bin/crust.*

\#*

out*
lib/
